<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>CONNECT US</h1>
        <p class="lead">관리자 페이지</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/v1/auth/login">회원 목록 보기</a>
            <br>
            <a class="btn btn-lg btn-secondary" href="/v1/auth/users">물품 목록 보기</a>
            <br>
            <a class="btn btn-lg btn-secondary" href="/v1/auth/login">펀드 목록 보기</a>
            <br>
        </p>
        <div th:replace="fragments/footer :: footer"/>
    </div> <!-- /container -->
</div>
</body>
</html>